.table-display{
    width: 90%;
    margin:  auto;
    
    }
    .table-display h1{
        text-align: center;
    }
    table{
        margin: 0 auto;
    }
    table, th, td{
        border: 1px solid black;
    }
    
    .btn-success{
        background-color: green;
        background-image: none;
        color: white;
        width: 100%;
    }
    table td{
        min-width: 182px;
        padding: 5px;
    }
    th{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: larger;
        font-weight: bold;
    }
    select{
        min-width: 174px;
        min-height: 24px;
    }